@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.display-enter {
  white-space: pre-line;
}

.App {
  margin-left: 16px;
  margin-right: 16px;
  font-family: 'Noto Sans KR';
}

.header{
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #EEEEEE;
}
.prev-button{
  background-color: transparent;
  float: left;
  border: none;
  font-size: 18px;
}
.nope{
  font-size: 16px;
  font-weight: 400;
  color: red;
}
.blue-text{
  color: #3FA0FA;
}
#grid-1fr-1fr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#grid-70-1fr-1fr{
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
}

.margin-top-8px{
  margin-top: 8px;
}

.thin-16px{
  color:#262626;
  font-size: 16px;
  font-weight: 400;
}
.bold-16px{
  color:#262626;
  font-size: 16px;
  font-weight: 700;
}
.top-4px{
  margin-top: 4px;
}
.top-11px{
  margin-top: 11px;
}

.top-7px{
  margin-top: 7px;
}
.top-20px{
  margin-top: 20px;
}
.bottom-21px{
  margin-bottom: 25px;
}
.bottom-25px{
  margin-bottom: 25px;
}
.bottom-26px{
  margin-bottom: 26px;
}
.top-9px{
  margin-top: 9px;
}
.bottom-9px{
  margin-bottom: 9px;
}
.padding-bottom-18px{
  padding-bottom: 18px;
}
.gray-box{
  margin-top: 25px;
	height: 5px;
  border-top:1px solid #DCDCDC;
  border-bottom:1px solid #DCDCDC;
  background: #F3F3F3;
}
.gray-box-bottom{
    padding-bottom: 34px;
    background: #F3F3F3;
}
.gray-border-bottom{
  border-bottom:1px solid #DCDCDC;
}
.modal{
  margin-top:20px;
  padding:20px;
  background:#eee;
  text-align: left;
}



.title-nav{
  width:100%;
  color:#262626;
  margin-top:5px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-bottom:14px;
  border-bottom: 1px solid #DCDCDC;
}

.idea-price-title{
  width:100%;
  color:#262626;
  margin-top:18px;

  text-align: left;
  font-size: 16px;
  font-weight: 700;
}

.idea-price{
  width:100%;
  color:#262626;
  margin-top:7px;

  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 21px;
}

table {
  background-color: #F3F3F3;
  text-align: center;
  width: 343px;
  border-top: 1px solid #F3F3F3;
  border-collapse: collapse;
}
th {
  color:#262626;
  font-size: 16px;
  font-weight: 700;
  border-left: 1px solid #DCDCDC;
  padding-top: 14px;
  grid-template-columns: 1fr,1fr;
}
td {
  border-bottom: 1px solid #F3F3F3;
  border-left: 1px solid #DCDCDC;
  padding-top: 4px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  grid-template-columns: 1fr,1fr;
}

th:first-child, td:first-child {
  border-left: none;
}

.usage-table {
  background-color: transparent;
  text-align: center;
  width: 343px;
  border-top: 1px solid #F3F3F3;
  border-collapse: collapse;
}

.usage-td {
  border-bottom: 1px solid #F3F3F3;
  border-left: 1px solid #DCDCDC;
  padding-top: 4px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  color: red;
  grid-template-columns: 1fr,1fr;
}

.down-button{
  border:none;
  background-color: transparent;
}
.point-button {
  background-color: transparent;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #5835E2;
  color: #5835E2;
  border-radius: 4px;
  width: 100%;
  height: 49px;
  
}

.buy-button {
  background-color: #5835E2;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #5835E2;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 49px;
}

dt{
  margin-bottom: 4px;
}

.terms{
  padding-top:14px;
  background-color: #F3F3F3;
  text-align: right;
  font-weight: 400;
  font-size: 10px;
  color: #838383;
  padding-bottom: 60px;
}
div{
  /* 박스의 크기를테두리 기준으로 크기를 정함*/
  /* padding-left:16px; */
}


/*-------------------두 번째 페이지--------------*/
.top-16px{
  margin-top: 16px;
}
.thin-18px{
  color:#262626;
  font-size: 18px;
  font-weight: 400;
}
.thin-14px{
  color:#262626;
  font-size: 14px;
  font-weight: 400;
}
.bold-20px{
  color:#262626;
  font-size: 20px;
  font-weight: 700;
}
.gray-box-32{
  margin-top: 32px;
	height: 5px;
  border-top:1px solid #DCDCDC;
  border-bottom:1px solid #DCDCDC;
  background: #F3F3F3;
}
.thin-16px{
  color:#262626;
  font-size: 16px;
  font-weight: 400;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align:right;
}
.top-12px{
  margin-top: 12px;
}
.top-39px{
  margin-top: 39px;
}
.top-19px{
  margin-top: 19px;
}
.padding-right-11px{
  padding-right: 11px;
}
#grid-70-1fr{
  display: grid;
  grid-template-columns: 70px 1fr;
}
#grid-70-98-1fr{
  display: grid;
  grid-template-columns: 70px 98px 1fr;
}
.charge-nav{
  margin-top:16px;
  width:100%;
  color:#262626;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
}

.charge-point{
  width:100%;
  color:#262626;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}

.point-box{
  background-color: transparent;
  font-size: 16px;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  border-top: none;
  border-bottom:1px solid #DCDCDC;
  color: #262626;
  width: 100%;
  height: 49px;
}

.point-box-transparent{
  background-color: transparent;
  border:none;
  height: 62px;
}

.point-box-yellow{
  background-color: transparent;
  font-size: 16px;
  border-left: 1px solid #FAE100;
  border-right: 1px solid #FAE100;
  border-top: none;
  border-bottom:1px solid #FAE100;
  color: #262626;
  width: 100%;
  height: 49px;
}

.point-box-top-yellow{
  border-top: 1px solid #FAE100;
}

.point-box-top{
  border-top: 1px solid #DCDCDC;

}

#grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border:14px solid #F3F3F3;
}
.a{
  background:#F3F3F3;
  border-right: 1px solid #DCDCDC;
  text-align: left;
  padding-left:70px;

}
.b{
  background:#F3F3F3;
  text-align: right;
}

.right{
  text-align: right;
}

/**/
#wrapper{
  border: 3px solid red;
}









.list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
